@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,700;1,400&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
}

#control button {
    font-size: 1em;
    margin: 5px 10px;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid rgb(0, 123, 255);
    min-width: 80px;
    background-color: rgb(0, 123, 255);
    color: white;
}

#control button:hover{
    background-color: rgb(0, 0, 139);
    border: 1px solid rgb(0, 0, 139);
    color: white;
    cursor: pointer;
}

#control button:disabled{
    background-color: rgb(211, 211, 211);
    border: 1px solid rgb(211, 211, 211);
    color: black;
}

#result {
    font-size: 1.5em;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    //justify-content: space-between;
    column-gap: 20px;
}

#result span{
    text-align: right;
}

#textbox {
    margin-top: 20px;
}

#textbox textarea{
    width: 70vw;
    height: 50vh;
    border-radius: 5px;
    border: 1px solid rgb(127, 127, 127);
    min-width: 400px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
